<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>单点登录 - APP-ONE</title>

    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{images/favicon.ico}" rel="shortcut icon">
</head>
<body>

<!-- 开始 -->
<div class="container">
    <h2>APPLICATION-ONE</h2>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <button id="app-one" class="btn btn-lg btn-outline-primary">确定</button>
        </div>
        <div class="col-md-2 offset-md-4">
            <button id="get-ticket" class="btn btn-lg btn-outline-info">认证（ticket）</button>
        </div>
    </div>
</div>
<!-- 结束 -->


<!-- jquery -->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $("#app-one").click(function () {
        let content = "APPLICATION-ONE";
        appOne(content);
    })

    function appOne(data) {
        let ticket = getCookie("sso_ticket");
        $.ajax({
            url: "http://192.168.2.125:8881/one",
            contentType: "application/json;charset=utf-8",
            type: "post",
            dataType: "json",
            beforeSend: function (XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("sso_ticket", ticket);
            },
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result);
                analysisResult(result);
            }
        });
    }

    /**
     * 解析数据
     * @param result
     */
    function analysisResult(result) {
        if (result.status === 2) {
            window.location.href = "/login.html";
        } else {
            alert(result);
        }
    }

    $("#get-ticket").click(function () {
        let cookie = getCookie("sso_ticket");
        $.ajax({
            withCredentials: true,
            url: "http://192.168.2.125:8880/certificate",
            contentType: "application/json;charset=utf-8",
            type: "GET",
            beforeSend: function (XMLHttpRequest) {
                XMLHttpRequest.setRequestHeader("sso_ticket", cookie);
            },
            success: function (result) {
                console.log(result);
            }
        });
    });

    /**
     * 获取cookies
     * @param cname cookie的name
     * @return {string} cookie的value
     */
    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i].trim();
            if (c.indexOf(name) === 0) return c.substring(name.length, c.length);
        }
        return "";
    }
</script>

</body>
</html>