<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>APP TWO LOGIN</title>

    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{images/favicon.ico}" rel="shortcut icon">
</head>
<body>

<!-- 开始 -->
<div class="container">
    <h2>单点登录</h2>
    <div class="row justify-content-md-center">
        <div class="col-md-6 shadow-lg p-3 mb-5 bg-white rounded">
            <form>
                <div class="form-group">
                    <label for="username">用户名</label>
                    <input type="text" class="form-control" id="username" placeholder="please input your username!">
                </div>
                <div class="form-group">
                    <label for="password">密码</label>
                    <input type="password" class="form-control" id="password" placeholder="Please input your password!">
                </div>
                <button id="login" type="button" class="btn btn-outline-secondary">登录</button>
            </form>
        </div>
    </div>
</div>
<!-- 结束 -->


<!-- jquery -->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<!-- 自定义 -->
<script type="text/javascript">
    $("#login").click(function () {
        let username = $("#username").val();
        let password = $("#password").val();

        let data = {username, password};
        login(data);
    });

    /* 登录 */
    function login(data) {
        $.ajax({
            url: "http://192.168.2.125:8880/certificate/login",
            contentType: "application/json;charset=utf-8",
            type: "post",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                analysisResult(result);
            }
        });
    }

    /* 解析数据 */
    function analysisResult(result) {
        if (result.status === 0) {
            document.cookie = "sso_ticket=" + result.data + ";path=/";
            document.cookit = "domain_test=domain_test;path=/;domain=.baidu.com";
            alert("登录成功");
        } else {
            $("#password").val("").focus();
        }
    }
</script>

</body>
</html>