<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>单点登录 - APP-TWO</title>

    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{images/favicon.ico}" rel="shortcut icon">
</head>
<body>

<!-- 开始 -->
<div class="container">
    <h2>APPLICATION-TWO</h2>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <button id="app-two" class="btn btn-lg btn-outline-primary">确定</button>
        </div>
    </div>
</div>
<!-- 结束 -->


<!-- jquery -->
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    $("#app-two").click(function () {
        let content = "APPLICATION-TWO";
        appTwo(content);
    })

    function appTwo(data) {
        $.ajax({
            url: "http://192.168.2.125:8882/two",
            contentType: "application/json;charset=utf-8",
            type: "post",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result);
                analysisResult(result);
            }
        });
    }

    /**
     * 解析数据
     * @param result
     */
    function analysisResult(result) {
        /*if (result.status === "2") {
            window.location.href = "/login.html";
        } else {
            alert(result.msg);
        }*/
        window.location.href = "/login";
    }
</script>

</body>
</html>